body {
  /** define custom properties so we can reference and change styles easily */
  --accent-background: #54a0ff;
  --accent-background-text: #073164;
  --accent-text: #2e86de;
  --gray: #eee;
  --dark-gray: #ccc;
  --darkest-gray: #aaa;
  --black: #333;

  color: var(--black);
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}


/**
  unordered list
*/



ul {
  display: flex;
  list-style: none;

  margin-top: 16px;
  margin-bottom: 16px;

  padding-left: 0px;
}

ul.tags li {
  border-radius: 4px;
  background-color: var(--gray);
  /* background color should be --gray */
  padding: 0.1rem 0.6rem;
  margin: 0rem ;
  margin-right: 0.25rem;

}

ul.tags a {
  color: var(--darkest-gray);
  /*color should be darkest-gray*/
}

/**
  navigation
*/
nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--accent-background);
  /* background color should be accent-background */
}

nav ul {
  display: flex;

  /* something should go here */
}

nav ul a {
    color: #000;
  /* color should be accent-background-text */
}

nav ul li {
  margin-right: 1rem;
}